
@{
    ViewBag.Title = "ThisUserExists";
}

<h2>The user with this name already exists. Please chose another name!</h2>
@Html.ActionLink("Try again", "SignUp", null, new {@class = "btn btn-default"})

